@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Lato', sans-serif!important;
    color: rgb(219, 54, 54);
    font-size: 14px;
}
input,select,textarea{
    min-height: 45px;
    width: 100%;
    border: 1px solid #b9b9b9 !important;
}
input:focus,textarea:focus,select:focus{
  outline: none!important;
    border: 1px solid #b9b9b9!important;
    box-shadow: none!important;
}
button{
    height: 45px;
    border: 1px solid #b9b9b9 !important; 
    box-shadow: none !important;
}
table{
    border: 1px solid #b9b9b9 !important;
    border-radius: 2px;
}
.max-width{
    max-width:max-content!important;
}